<h1>aboutWillCole</h1>
<br />
<br />

<code>
Through the process of writing this blog, 
I feel like I can become the kind of person 
that I always wanted to be.
 
Or, to put it more simply: 
I want to be the kind of person who keeps a blog.
</code>

<br />
<br />

